.form-title {
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
}

.login-input-password-wraper {
    position: relative;
    margin: 0 0 10px;
    .login-input-password {
        width: 100%;
        height: 100%;
    }

    .password-display, .password-hidden {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.form-login-option {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .login-save-password {
        color: #C4C4CF;
    }
    
    .login-forgot-password {
        color: #C4C4CF;

        &:hover {
            color: #409EFF;
        }
    }
}

.form-login-submit {
    font-size: 500;
}